/* component */
.component {
    margin-left: var(--sidebar-w);
    width: var(--component-w);
    height: 100vh;
    background-color: var(--component-color);
    position: fixed;
    box-shadow: 0 0 1px var(--secondary-color);
}

/* content */
.content-component {
    display: none;
}

.content-right-component {
    display: none;
}

.component-display {
    /* margin-left: calc(var(--sidebar-w) + var(--component-w)); */
    background-color: var(--primary-color);
    width: 100%;
}

.show {
    display: flex;
}

.show-right {
    display: flex;
}



@media (max-width: 1100px){
    .component {
        width: 96.2%;
        margin-left: 40px;
    }

    .component-display {
        display: none;
    }
}