@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  /* colors */
  --primary-color: #202C33;
  --secondary-color: #AEBAC1;
  --component-color: #111B21;
  --green-light: #00A884;
  --encrypted-color: #667781;
  --component-title-color: #D1D6CE;
  --light-color: #E9EDEF;
  --end-to-end-encrypted: #4ec3f1;
  --verified-color: #2976F8;
  --announcements-color: #42C5B8;
  --announcements-bg: #046962;
  --react-bg: #045169;
  --react-color: #61DAFB;
  --java-color: #ffeb77;
  --java-bg: #af9b00;

  --btn-download-hover: #06CF9C;
  --chat-color-active: #2A3942;
  --chat-color-hover: #202C33;
  --scroll-color: #374045;

  /* widths and heights */
  --sidebar-w: 60px;
  --scroll-w: 8px;
  --profile-sidebar-w: 40px;
  --profile-profile-w: 180px;
  --profile-chat-w: 52px;
  --profile-status-w: 40px;
  --component-w: 430px;
  --img-download-w: 320px;
  --input-search-w: 280px;
  --icon-status-w: 10px;

  /* paddings and margins */
  --p-8: 8px;
  --p-16: 16px;
  --p-32: 32px;
  --m-8: 8px;
  --m-16: 16px;
  --m-32: 32px;
  --m-encrypted: 150px;

  /* font-size */
  --fs-download-title: 2rem;
  --fs-icon-sidebar: 1.1rem;
  --fs-icon-component: 1.3rem;
  --fs-title-component: 1.4rem;
  --fs-info-channels: 1.2rem;
  
  /* radius */
  --radius-btn: 24px;
  --radius-search: 8px;
  --radius-btn-chats: 16px;
  --radius-btn-community: 10px;

  /* transition */
  --t-3: .3s;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, Roboto, Helvetica, sans-serif;
}

/* scrollbar */
/* Firefox scroll */
/* * {
  scrollbar-width: var(--scroll-w);
  scrollbar-color: var(--scroll-color) var(--secondary-color);
} */

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: var(--scroll-w);
}

*::-webkit-scrollbar-track {
  background-color: var(--component-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
}



a, input, button {
  all: unset;
}

a, button {
  cursor: pointer;
  transition: all var(--t-3);
}